* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.arrow {
  max-height: 20px;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* ################################################ */
/* ################################################ */
/* TOPBANNER COMPONENT */


.topBanner {
  display: flex;
  margin: 10px;
}

.Reddit-logo {
  width: 30px;
  margin-right: 5px;
}

.form {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.search-box {
  width: 70px;
  flex-grow: 1;
  max-width: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-button {
  border: black solid 1px;
  border-radius: 5px;
}

.theme-button {
  border: none;
  border-radius: 5px;
  width: 50px;
  margin-left: 5px;
}

/* ################################################ */
/* ################################################ */
/* FILTER COMPONENT */

.Filters-component {
  display: flex;
}

@media only screen and (max-width: 500px) {
  .filter-button.top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90px;
  }

}

@media only screen and (min-width: 501px) {
  .frame{
    max-width: 500px;
  }
  .filter-button.select {
    margin-left: 10px;
  }

}

img.filter {
  max-height: 30px;
  height: 5vw;
}

.filter-button {
  padding: 0 0;
  border: none;
  opacity: 100%;
  display: flex;
  align-items: center;
}



.frame {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  border: black solid;
  margin: 0px auto;
  padding: 10px;
}

a {
  display: flex;
  align-items: center;
}

/* ################################################ */
/* ################################################ */
/* POSTS COMPONENT */



/* ################################################ */
/* ################################################ */
/* POST COMPONENT */

.Post-component {
  max-width: 500px;
  display: flex;
  border: solid #C0C0C0 2px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.post-title {
  font-size: 1rem;
}

.left-section {
  width: 10%;
  min-width: 36px;
}

.right-section{
  width: 90%;
}

.ups-number {
  font-size: 0.7rem;
  text-align: center;
}

.left-section > .arrow {
  display: block;
  margin: 10px auto;
  
}

@media only screen and (max-width: 400px) {
  .right-section > div{
    align-items: center;
    margin: 5px;
    margin: 10px auto;
  }

  .commentsNumber > img {
    height: 15px;
    margin-right: 5px !important; 
    padding: 0px;
  }
}
@media only screen and (min-width: 401px) {
  .right-section > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    margin: 10px auto;
  }

  .commentsNumber > img {
    height: 15px;
    margin-right: 5px !important;
    padding: 0px;
  }
}

.right-section > div  * { 
  margin: 0px;

}

.right-section p {
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.commentsNumber {
  display: flex;
  align-items: center;
}






/* ################################################ */
/* ################################################ */
/* MEDIA COMPONENT */

.media {
  max-width: 90%;
  margin: 0px 0px;
}

.gallery {
  position: relative;
  max-width: 100%;
}

.left.circle {
  left: 0;
}

.right.circle {
  right: 0px;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  background-color: white;
  border: rgb(176, 176, 176) solid;
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 300px;
}



/* ################################################ */
/* ################################################ */
/* POSTDETAILS COMPONENT */

.PostDetails-component {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  
  min-height: 100%;
}

.post {

  max-width: 400px;
  border: solid #C0C0C0 2px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
}

.upper-part {
  display: flex;
}

.comments-section {
  max-width: 400px;
  margin: auto;
  
}

.comments-section > * {
  overflow: hidden;
  
}


/* ################################################ */
/* ################################################ */
/* COMMENT COMPONENT */

.Comment-component {
  font-size: 0.7rem;
  padding: 15px;
}

.Comments-component * {
  font-size: 0.7rem;
}

.comment {
  width: 100%;
}

.reply {
  margin-left: 10%;
}



/* ################################################ */
/* ################################################ */
/* NOMATCH COMPONENT */

.NoMatch-component {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin: 20px auto;
  text-align: center;
}


/* ################################################ */
/* ################################################ */
/* LOADING BOX */

@media only screen and (max-width: 600px) {
  .loading-box > div {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 601px) {
  .loading-box > div {
    font-size: 1.5rem;
  }
}

.loading-box {
  opacity: 0.5;
  height: 100vh;
  border: none;
  
}

.loading-box > div {
  border: 0px;
  position: relative;
  width: 25%;
  min-width: 150px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  top: 10%;
  padding: 20px;
}

.loading-gif {

  display: block;
  width: 90px;
  margin: 0 auto;
}

.loading-box > div > strong {
  display: block;
  margin: 30px auto 0px;
  text-align: center;
}